.search-bg-container {
  background-color: #000000;
  min-height: 100vh;
}
.no-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-img {
  height: 320px;
  width: 400px;
  margin: 20px;
}
.no-result-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
}
.searched-movies-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.searched-poster {
  height: 220px;
  width: 200px;
  border-radius: 8px;
  margin: 10px;
}
