.popular-bg-container {
  background-color: #000000;
}
.popular-result-bg-container {
  padding: 30px;
}
.popular-movies-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.popular-item {
  padding: 5px;
}
.popular-image {
  height: 220px;
  width: 200px;
  border-radius: 8px;
  margin: 10px;
}
.results-container {
  height: 50%;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
